body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* position: absolute; */
  overflow-x: hidden;
}

.bannerContainer {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: static;
  top: 0; */
}
.image {
  width: 100vw; /* ancho total de la ventana */
  height: auto; /* mantiene la proporción */
  display: block; /* evita espacios debajo de la imagen */
  object-fit: cover; /* llena la caja si defines height fijo */
}
.banner {
  width: 100vw; /* ancho total de la ventana */
  height: auto; /* mantiene la proporción */
  display: block; /* evita espacios debajo de la imagen */
  object-fit: cover; /* llena la caja si defines height fijo */
  position: sticky;
}
#video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporción y recorta exceso */
}
.extras_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}
.eimage {
  width: 50%;
}
